.light-theme h2, .light-theme p {
    color: #000;
  }
  
  .dark-theme h2, .dark-theme p {
    color: #fff; 
  }
.middle{
  margin-top:60px;
 
}
@media (max-width:770px){
  .middle{
    height:100vh;
    align-items:flex-start
  }
  .myFormPsws{
    width:75%;
  }
}
@media (min-width:771px){
  .myFormPsws{
    width:40%;
  }
}