.mynav {
  min-width: 400px;
  height: 50px;
  position: fixed;
  border-bottom: 2px solid grey;
  z-index: 10;
}
.mynav.dark {
  color: white;
  background-color: rgb(17, 29, 48);
}
.mynav.light {
  color: black;
  background-color: white;
}

.logo {
  font: 700 1.8rem/1 "Oswald", sans-serif;
  width: 250px;
top:0px;
  letter-spacing: 0;
  display: block;
  text-shadow: 5px 10px 90px rgba(255, 255, 255);
  position: absolute;
  top: 8px;
  left: 15px;
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo:hover {
  transform: scale(1.05);
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 60px;
  left: auto;
  height: 40x;
}
.hamburger:hover {
  transform: scale(1.05);
  color: rgb(219, 98, 55) !important;
}
.currentUser {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: 100px;
  top: 8px;
}
.profileAV {
  height: 28px;
  width: 28px;
  border-radius: 15px;
}
.userUsername {
  padding-right: 5px;
  position: relative;
  padding-bottom: 5px;
  top: 5px;
}
@media (max-width: 770px) {
  .mynav {
    height: 60px;
  }
  .logo {
    top: 20px;
  }
  .hamburger {
    right: 20px;
    top: 25px;
  }
  .currentUser {
    right: 50px;
    top: 20px;
  }
  .profileAV {
    height: 25px;
    width: 25px;
    border-radius: 15px;
  }
  .userUsername {
    padding-right: 5px;
    position: relative;
    padding-bottom: 5px;
    top: 5px;
  }
}
