.footer {
    align-items: center;
    padding-bottom:20px;
    background-color: transparent;
  }
  
  .footer.light {
    color: #212529;
  }
  
  .footer.dark {
    color: #f8f9fa;
  }
  .myIcon {
    font-size: 1.2rem;
    margin-right: 15px;
    color: #999691;
  }
  .myIcon:hover {
    transform: scale(1.2);
    color: #ffaa00;
  }
  .copyright{
    color: #999691;
  }