@import url("https://fonts.googleapis.com/css?family=Raleway");

/* THEME COLOR */
.dark-theme {
  background-color: rgb(13, 29, 50);
  color: white;
}

.light-theme {
  background-color: #fff;
  color: black;
}
/* BODY DIMENSION */
#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  min-width: 350px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.theme {
  height: 0;
  width: 0;
}
.tall{
  flex-direction:column;
  align-items:flex-start;
}
