@import url("https://fonts.googleapis.com/css?family=Raleway");

/* THEME COLOR */
.dark-theme {
  background-color: rgb(13, 29, 50);
  color: white;
}

.light-theme {
  background-color: #fff;
  color: black;
}
#mainRow {
  width: 100%;
  min-height: 100vh;
  max-height:100%;
  min-width: 350px;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  flex-direction:column;
  
}
.middleCol {
  height: 100%;
  margin-bottom: 20px;
  align-items:flex-start;
}
.themeContainer {
  height: 0;
  width: 0;
}
