@import url("https://fonts.googleapis.com/css?family=Raleway");

/* THEME COLOR */
.dark-theme {
  background-color: rgb(13, 29, 50);
  color: white;
}

.light-theme {
  background-color: #fff;
  color: black;
}
/* BODY DIMENSION */
#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  min-width: 400px;
  font-family: "Raleway", sans-serif;
}
/* BUTTON SWITCH THEME */
.theme {
  position: relative;
  top: 0;
  padding: 10px 0;
  height:50px;
}