@media (max-width:770px){
  .central{
    margin-top: 60px;
    width:75%;
  }
  .a{
    order:1;
  }
  .b{
    order:3;
  }
  .c{
    order:2; 
  }
  p{
 margin-bottom: 0;
 margin-top:10px;
  }
 
  }
  @media (min-width:771px){
    .central{
        margin-top: 60px;
        width:75%
      }
     
  }